#indices{
    margin-top: 10px;
}
#indices img{
    cursor: pointer;
}
.selected{
    padding-bottom: 5px;
    border-bottom:3px solid red;
}
#product_detail{
    margin-top: 20px;
}
.text-wrapper{
    padding:20px;
}
#product_buy_form{
    /*padding: 5px;*/
}
#product_buy_form p{
    margin: 10px 0 20px 0;
}