{% extends 'base.html' %}
{% block title %}喻家山下-精品红酒{% end %}
{% block header %}
<link href="{{static_url('css/home.css')}}" type="text/css"/>
{% end %}
{% block body %}

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for poster in poster_list %}
        {% if poster['seq']==1 %}
        <div class="item active">
            {% else %}
            <div class="item">
                {% end %}
                <img src="{{ static_url('photo/post' + poster['hash_value'] + '.' + poster['pic_type']) }}" alt="{{ poster['description'] }}" class="img-responsive">
            </div>
            {% end %}
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->
{% end %}