{% extends 'base.html' %}
{% block header %}{% end %}
{% block title %}{{ _ul('login') }}－喻家山下{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>{{ _ul('login') }}</h3>

            <form action="/login" method="post">
                <div class="form-group {% if errors.get('login_key', '') %} has-error {% end %}">
                    <label for="login_key" class="control-label">{{ errors.get('email', _ul('email_or_username')) }}</label>
                    <input type="text" value="{{ post_data.get('login_key', '')}}" class="form-control" id="login_key"
                           placeholder="{{ _ul('your_email_or_username') }}" name="login_key"/>
                </div>
                <div class="form-group {% if errors.get('password', '') %} has-error {% end %}">
                    <label for="password" class="control-label">{{ errors.get('password', _ul('password')) }}</label>
                    <input type="password" class="form-control" id="password" placeholder="{{ _ul('password') }}" name="password"/>
                </div>
                <div class="form-group {% if errors.get('vcode', '') %} has-error {% end %}">
                    <label for="vcode" class="control-label">{{errors.get('vcode', _ul('valcode'))}}</label>
                    <input type="text" id="vcode" name="vcode" class="form-control"/>
                    <img src="/verify_code" alt="{{ _ul('click_to_refresh') }}" onclick="javascript:refresh_code(this);" class="verify_code"/>
                    {{ _ul('click_to_refresh') }}
                </div>

                {% if errors.get('all', '') %}
                <div class="form-group has error">
                    <label class="control-label">{{ errors.get('all', '') }}</label>
                </div>
                {% end %}
                <button type="submit" class="btn btn-primary">{{ _ul('submit') }}</button>&nbsp;&nbsp;
                <a href="/register">{{ _ul('first_register') }}</a>
            </form>
        </div>
    </div>
</div>
{% end %}
{% block footer %}
<script type="text/javascript" src="{{static_url('js/login.js')}}">
</script>
{% end %}