{% extends 'base.html' %}
{% block header %}{% end %}
{% block title %}填写订单{% end %}
{% block body %}
<div class="confirm_order">
    <h2>填写订单</h2>

    <form action="/submit_order" method="post">
        <div class="shipping_info">
            <h3>收货信息</h3>

            <p>如果您以前购买过，请<input type="button" class="btn btn-default" value="登录" id="login-btn"/>来读取地址信息，并获取积分</p>

            <div class="form-horizontal text-left">
                <div class="form-group">
                    <label class="col-sm-2 control-label">送货地址</label>

                    <div class="col-sm-5">
                        <select class="form-control" id="addr_level1" name="addr_level1">
                            <option value="">-请选择-</option>
                            {% for city in ship_cities.keys() %}
                            <option value="{{ city }}" {% if post_data.get('addr_level1', '')==city %}selected="selected"{% end %}>{{ city }}</option>
                            {% end %}
                        </select>
                        {% if field_error.get('addr_level1','') %}
                        <span class="error">{{ field_error['addr_level1'] }}</span>
                        {% end %}
                    </div>
                    <div class="col-sm-5">
                        <select class="form-control" id="addr_level2" {% if not post_data.get('addr_level2', '') %}disabled="disabled"{% end %} name="addr_level2">
                            {% for addr_l2 in ship_cities.get(post_data.get('addr_level1', ''), []) %}
                            <option value="{{ addr_l2 }}" {% if addr_l2==post_data.get('addr_level2', '') %}selected="selected"{% end %}>{{ addr_l2 }}</option>
                            {% end %}
                        </select>
                        {% if field_error.get('addr_level2','') %}
                        <span class="error">{{ field_error['addr_level2'] }}</span>
                        {% end %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" value="{{ post_data.get('addr_level3', '')}}" name="addr_level3"
                               class="form-control"/>
                        {% if field_error.get('addr_level3','') %}
                        <span class="error">{{ field_error['addr_level3'] }}</span>
                        {% end %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">收货人</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="receiver" name="receiver"
                               value="{{ post_data.get('receiver', '')}}">
                        {% if field_error.get('receiver','') %}
                        <span class="error">{{ field_error['receiver'] }}</span>
                        {% end %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机号</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="phone" name="phone"
                               value="{{ post_data.get('phone', '')}}">
                        {% if field_error.get('phone','') %}
                        <span class="error">{{ field_error['phone'] }}</span>
                        {% end %}
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">送货时间</label>-->

                <!--<div class="col-sm-5">-->
                <!--<input type="date" class="form-control" id="arrive_date" name="arrive_date"/>-->
                <!--</div>-->
                <!--<div class="col-sm-5">-->
                <!--<input type="time" class="form-control" id="arrive_time" name="arrive_time"/>-->
                <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    {% set need_receipt=(post_data.get('need_receipt', '') != '') %}
                    <label class="col-sm-2 control-label">开发票</label>

                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="need_receipt" {% if need_receipt %} checked="checked" {% end %} name="need_receipt" value="1"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display: {% if need_receipt %} blocked {% else %} none {% end %}"
                     id="receipt_detail1">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="receipt_sort" id="person_receipt" value="个人发票" {% if post_data.get('receipt_sort','')==u'个人发票' %}checked="checked"{% end %}> 个人发票
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="receipt_sort" id="company_receipt" value="公司发票" {% if post_data.get('receipt_sort','')==u'公司发票' %}checked="checked"{% end %}> 公司发票
                        </label>
                        {% if field_error.get('receipt_sort','') %}
                        <span class="error">{{ field_error['receipt_sort'] }}</span>
                        {% end %}
                    </div>
                </div>
                <div class="form-group" style="display: {% if need_receipt %} blocked {% else %} none {% end %}" id="receipt_detail2">
                    <div class="col-sm-offset-2 col-sm-4">
                        <select name="receipt_content" class="form-control">
                            <option value="">选择发票内容</option>
                            <option value="酒类" {% if post_data.get('receipt_content','')==u'酒类' %}selected="selected"{% end %}>酒类</option>
                            <option value="食品" {% if post_data.get('receipt_content','')==u'食品' %}selected="selected"{% end %}>食品</option>
                        </select>
                        {% if field_error.get('receipt_content','') %}
                        <span class="error">{{ field_error['receipt_content'] }}</span>
                        {% end %}
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="请填写发票抬头" name="receipt_title" class="form-control"
                               value="{{ post_data.get('receipt_title', '')}}"/>
                        {% if field_error.get('receipt_title','') %}
                        <span class="error">{{ field_error['receipt_title'] }}</span>
                        {% end %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">验证码</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="valcode" name="valcode">
                        {% if field_error.get('valcode','') %}
                        <span class="error">{{ field_error['valcode'] }}</span>
                        {% end %}
                    </div>
                    <div class="col-sm-5">
                        <img src="/verify_code" alt="点我刷新" onclick="javascript:refresh_code(this);"
                             class="verify_code"/> 如看不清,点击图片刷新
                    </div>
                </div>
            </div>
        </div>
        <div class="pay_sort">
            <h3>付款方式</h3>
            {% for pay_sort in pay_sorts %}
            <label class="radio-inline">
                <input type="radio" name="pay_sort" value="{{ pay_sort['name'] }}" {% if post_data.get('pay_sort','')==pay_sort['name'] %}checked="checked"{% end %}> {{ pay_sort['name'] }}
            </label>
            {% end %}
            {% if field_error.get('pay_sort','') %}
            <span class="error">{{ field_error['pay_sort'] }}</span>
            {% end %}

        </div>
        <div class="order_list">
            <h3>我的订单</h3>
            {% if field_error.get('order','') %}
            <span class="error">{{ field_error['order'] }}</span>
            {% end %}
            <table class="table">
                <thead>
                <tr>
                    <th>商品</th>
                    <th>属性</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in product_list_order %}
                <tr>
                    <input type="hidden" value="{{ product['_id'] }}" name="product_id_list_in_order"/>
                    <td>{{ product['name'] }}</td>
                    <td>{{ product['volume'] }}
                        {% for a in product['attachment'] %}
                        <a href="/product_detail/{{ attachment_dict[a]['_id'] }}">{{ attachment_dict[a]['name'] }}</a>
                        {% end %}
                    </td>
                    <td>￥{{ product['price'] }}</td>
                    <td><input type="number" value="{{ product['purchase_count'] }}"
                               name="product-{{product['_id']}}-purchase_count"/></td>
                    <td><span
                            id="product-{{ product['_id'] }}-sum">{{ product['price'] * product['purchase_count'] }}</span>
                    </td>
                    <td><input type="button" id="{{ product['_id']}}-deletebtn" value="删除" class="btn btn-danger"/></td>
                </tr>
                {% end %}
                </tbody>
            </table>
        </div>
        <div class="sum_product_price">
            <p>共<span id="product_sum_count">{{ product_sum_count }}</span>件 商品金额: ￥<span
                    id="product_sum_price">{{ product_sum_price }}</span></p>

            <p>运费: ￥<span id="shipping_cost">{{ shipping_cost }}</span></p>

            <p>总计金额: ￥<span id="total_price">{{ product_sum_price + shipping_cost }}</span></p>
        </div>
        <div class="btn_listing">
            <input type="button" value="返回购物车" class="btn btn-default" id="return_shopcar_btn"/>
            请确认订单无误后下单
            <input type="submit" value="提交订单" class="btn btn-primary" id="confirm_order_btn"/>
        </div>
    </form>

</div>
{% end %}
{% block footer %}
<script type="text/javascript">
    var ship_cities = jQuery.parseJSON("{{ tojsonstr(ship_cities) }}".replace(/&quot;/g, '\"'));
</script>
<script type="text/javascript" src="{{ static_url('js/confirm_order.js') }}"></script>
{% end %}
