{% extends 'base.html' %}
{% block header %}{% end %}
{% block title %}喻家山下-葡萄酒名录{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-2">
        <div class="list-group" id="filter_list">
            <a href="/products" class="list-group-item active" data-item="">ALL GRAPE SORT</a>
            {% for g in grape_sort %}
            <a href="?grape_sort={{ g }}" class="list-group-item" data-item="{{ g }}">{{ g }}</a>
            {% end %}
          </div>
        </div>
        <div class="col-sm-6 col-md-10">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
        </div>
        </div>
    </div>
    <div class="row">
        {% for product in product_list %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="/product_detail/{{ product['pid'] }}"><img src="{{ static_url(product['fimg'])}}"
                                                                    alt="{{ product['name'] }}" width="300" height="300"/></a>
                <div class="caption">
                    <h3><a href="/product_detail/{{ product['pid'] }}">{{ product['name']}}</a></h3>
                    <p>{{ product['description'] }}</p>
                    <p>
                        <input type="button" value="BUY" data-pid="{{ product['pid'] }}" class="btn buy-btn"/>
                        <input type="button" value="ADDIN" data-pid="{{ product['pid'] }}"
                               class="btn btn-success shopcar-btn"/>
                    </p>
                </div>
            </div>
        </div>
        {% end %}
    </div>
    <!--/row-->
</div>
<!--/.col-xs-12.col-sm-9-->

<!--/.sidebar-offcanvas-->
</div>
<!--/row-->
</div>
<div class="modal fade" id="shopcar_tip_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>该商品已经加入了您的购物车</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">继续购物</button>
                <button type="button" class="btn btn-primary">下单结算</button>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block footer %}
<script type="text/javascript" src="{{static_url('js/products.js')}}"></script>
{% end %}