{% extends 'base.html' %}
{% block header %}{% end %}
{% block title %}喻家山下-{{ _ul('products') }}{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-2">
        <div class="list-group" id="filter_list">
            <a href="/products" class="list-group-item {% if query_condition.get('grape_sort', '')=='' %}active{% end %}" data-item="">{{ _ul('all') }}</a>
            {% for g in grape_sort %}
            <a href="?grape_sort={{ g['value'] }}" class="list-group-item {% if query_condition.get('grape_sort')==str(g['value']) %}active{% end %}" data-item="{{ g['value'] }}">{{ _ul(g['display']) }}</a>
            {% end %}
          </div>
        </div>
        <div class="col-sm-6 col-md-10">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
        </div>
        </div>
    </div>
    <div class="row">
        {% for product in product_list %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="/product_detail/{{ product['pid'] }}"><img src="{{ static_url('photo/' + product['img_url'])}}"
                                                                    alt="{{ product['name'] }}" class="img-responsive"/></a>
                <div class="caption">
                    <h3><a href="/product_detail/{{ product['pid'] }}">{{ product['name']}}</a></h3>
                    <p>{{ product['description'] }}</p>
                    <p>
                        <input type="button" value="{{_ul('buy')}}" data-pid="{{ product['pid'] }}" class="btn btn-danger buy-btn"/>
                        <input type="button" value="{{ _ul('add_in')}}" data-pid="{{ product['pid'] }}"
                               class="btn btn-primary shopcar-btn"/>
                    </p>
                </div>
            </div>
        </div>
        {% end %}
    </div>
    <!--/row-->
</div>
<!--/.col-xs-12.col-sm-9-->

<!--/.sidebar-offcanvas-->
</div>
<!--/row-->
</div>
<div class="modal fade" id="shopcar_tip_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ _ul('tip') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ _ul('product_added_into_cart') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _ul('continue_shopping')}}</button>
                <a class="btn btn-primary" href="/shopcar">{{ _ul('confirm_order')}}</a>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block footer %}
<script type="text/javascript" src="{{static_url('js/products.js')}}"></script>
{% end %}